[Unit]
Description=7days Watcher Service
After=network.target

[Service]
Type=simple
User=7days
ExecStart=/usr/bin/expect /home/7days/bin/sh/savethehorde.sh
Restart=on-failure


[Install]
WantedBy=multi-user.target
